################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Auth1/v15
/Auth1/Auth1.Android/bin/Debug
/Auth1/Auth1.Android/obj
/Auth1/Auth1.iOS/obj
/Auth1/Auth1.UWP/obj
